* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    background-color: #ed8848;
    min-height: 100vh;
    border: 10px solid #27c19d;
  }
  
  .content {
    max-width: 900px;
    margin: 0 auto;
  }
  .top_section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .top_section h1 {
    font-size: 40px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
  }
  .top_section h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: end;
  }
  
  .image_container {
    border-radius: 30%;
    overflow: hidden;
  }
  
  .image_container,
  img {
    width: 300px;
    height: 350px;
  }
  .about_section {
    margin-top: 50px;
  }
  .about_section h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .about_section p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
  }
  
  footer {
    margin: 50px 0;
  }
  footer p {
    text-align: end;
  }